<a class="group block transition-all duration-300 ease-in-out !opacity-100" data-cursor="case-study" href="/projects/openai">
    <div class="flex flex-col gap-2">
        <div class="relative w-full aspect-[16/9] border-1 border-foreground/10 overflow-hidden box-border transition-all duration-300 ease-in-out">
            <div class="relative w-full h-full overflow-hidden " role="img" aria-label="Project thumbnail for OpenAI x Hardware">
                <video poster="/projects/openai/openai.png" class="w-full h-full object-cover scale-102 transition-opacity duration-500 ease-in-out opacity-100" loop="" autoplay="" playsinline="" data-inline-autoplay="true" preload="metadata" aria-label="Video preview for OpenAI x Hardware" style="background-color: rgba(233, 141, 52, 0.314);">
                    <source src="/projects/openai/openai.mp4" type="video/mp4">
                </video>
                <div class="absolute inset-0 transition-opacity duration-500 ease-in-out pointer-events-none" style="background-color: rgba(233, 141, 52, 0.314); opacity: 0; z-index: 10;">    
                </div>
            </div>
            <div class="absolute inset-0 bg-background/0 transition-colors duration-300 ease-in-out group-hover:bg-background/40">
            </div>
        </div>
        <div class="flex flex-col justify-between gap-0.5 mt-1 transition-colors duration-300 ease-in-out lg:flex-row">
            <h3 class="transition-colors duration-300 ease-in-out !text-[17px] overflow-hidden" style="display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical">The future of AI &amp; hardware</h3>
            <h4 class="transition-colors duration-300 ease-in-out !text-[15px] overflow-hidden" style="display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical">OpenAI x Hardware<!-- --> • <!-- -->Concept 2025</h4>
        </div>
    </div>
</a>