<div class="sidebar-container">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="" class="sidebar-link">Context</a></li>
            <li><a href="" class="sidebar-link">Discover</a></li>
            <li><a href="" class="sidebar-link">Define</a></li>
            <li><a href="" class="sidebar-link">Ideate</a></li>
            <li><a href="" class="sidebar-link">Prototype</a></li>
            <li><a href="" class="sidebar-link">The Pivot</a></li>
            <li><a href="" class="sidebar-link">Deliver</a></li>
            <li><a href="" class="sidebar-link">Impact</a></li>
            <li><a href="" class="sidebar-link">Reflection</a></li>
        </ul>
    </nav>
</div>