<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }} | {{ site.name }}</title>

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/patterns/navigation.css">
  {% block styles %}{% endblock %}

  <script src="https://kit.fontawesome.com/e2a3af1213.js" crossorigin="anonymous"></script>
</head>

<body class="{{ bodyClass | default('') }}">
  {% include "patterns/navigation.njk" %}

<main class = "grid-container">
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</main>



  <script src="/assets/js/patterns/navigation.js"></script>
</body>
</html>
