<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/patterns/navigation.css">
    <link rel="stylesheet" href="../assets/css/patterns/block.css">
    <link rel="stylesheet" href="../assets/css/patterns/sidebar.css">
</head>
<body>
    {% include "patterns/navigation.html" %}
    <div class="grid-container">
        <div class="sidebar">
            {% include "patterns/sidebar.html" %}
        </div>
        <div class="main-content">
            {{ content | safe }}
        </div>
    </div>
    <script src="../assets/js/patterns/navigation.js"></script>
</body>
</html>