{% extends "layouts/base.njk" %}

{% set headings = [] %}
{% set headingRegex = '<h2[^>]*id="([^"]+)"[^>]*>(.*?)</h2>' %}


{% for match in content | regexFindAll(headingRegex) %}
  {% set _ = headings.push({
    id: match[1],
    text: match[2] | striptags
  }) %}
{% endfor %}



{% set bodyClass = "case-study" %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/case-studies.css">
<link rel="stylesheet" href="/assets/css/patterns/block.css">
<link rel="stylesheet" href="/assets/css/patterns/sidebar.css">
{% endblock %}

{% block content %}

{% include "patterns/hero/hero.njk" %}
<div class="grid-container">

  <aside class="sidebar">
    {% include "patterns/sidebar.njk" %}
  </aside>

  <article class="main-content">
    {{ content | safe }}

    <footer class="outro">
      <button class="btn-primary center">Thank you for reading!</button>
      <p>Want to discuss this project or collaborate? Get in touch!</p>
    </footer>
  </article>

</div>
{% endblock %}
