{% extends "layouts/base.njk" %}

{% set bodyClass = "home" %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/patterns/cards.css">
{% endblock %}

{% block content %}

<section class="home-hero">
  <div class="container grid grid-2">

    <div class="home-title">
        <h1>
            I'm Peyton, a UX Engineer who bridges UX architecture and front-end engineering to create scalable, user-centered experiences.
        </h1>
    </div>
    <div class="home-profile-img">
        <img src="https://placehold.co/400" alt="profile">
    </div>
  </div>
  <div class="home-hero-links">
    <a href="/case-studies/" class="btn">View My Work</a>
    <a href="mailto:peyton.stewart505@gmail.com" class="btn">Get in Touch</a>
  </div>
</section>

<section class="key-strengths-section">
    <h2>Skills & Expertise</h2>
    <p>
        A unique blend of design sensibility and technical expertise to create seamless digital experiences
    </p>
    <div class="skill-cards-container grid grid-3">
        <div class="skill-card">
            <h3>UX Design</h3>
            <p>
                Designing intuitive and user-friendly interfaces that enhance the overall user experience.
            </p>
        </div>
        <div class="skill-card">
            <h3>UI Development</h3>
            <p>
                Translating design concepts into functional and visually appealing user interfaces.
            </p>
        </div>
        <div class="skill-card">
            <h3>Interaction Design</h3>
            <p>
                Crafting engaging and interactive experiences that captivate users and drive engagement.
            </p>
        </div>
        <div class="skill-card">
            <h3>Prototyping</h3>
            <p>
                Creating interactive prototypes to test and validate design concepts before development.
            </p>
        </div>
        <div class="skill-card">
            <h3>Accessibility</h3>
            <p>
                Ensuring digital experiences are inclusive and accessible to all users, regardless of ability.
            </p>
        </div>
        <div class="skill-card">
            <h3>Design Systems</h3>
            <p>
                Developing and maintaining design systems to ensure consistency and efficiency across projects.
            </p>
        </div>
        <div class="skill-card">
            <h3>Front-end Development</h3>
            <p>
            Building responsive and accessible web applications using modern technologies.
            </p>
        </div>
        <div class="skill-card">
            <h3>Research & Analysis</h3>
            <p>
            Conducting user research and analyzing data to inform design decisions.
            </p>
        </div>
    </div>
</section>

<section class="case-studies-section">
  <div class="container">
    <h2>Featured Work</h2>
    <ul class="case-card-grid">
      {% for case in collections.caseStudies %}
        <li>
          <a href="{{ case.url }}" class="case-card-link">
            {% include "patterns/card/case-study-card.njk" %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
    <div class="contact-section">
        <h2>Contact</h2>
        <p>I'm currently open to new opportunities. Feel free to reach out!</p>
        <section class="contact-links">
            <a href="mailto:peyton.stewart505@gmail.com" class="contact-link"><i class="fa-solid fa-envelope"></i> Email</a>
            <a href="https://www.linkedin.com/in/peyton-stewart-790464171/" class="contact-link"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        </section>
    </div>
</section>
{% endblock %}
