{% extends "layouts/base.njk" %}

{% set bodyClass = "home" %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/patterns/cards.css">
{% endblock %}

{% block content %}

<section class="home-hero">
  <div class="container grid grid-2">

    <div class="home-title">
        <h1>
            I'm Peyton, a UX Engineer who bridges UX architecture and front-end engineering to create scalable, user-centered experiences.
        </h1>
    </div>
    <div class="home-profile-img">
        <img src="https://placehold.co/400" alt="profile">
    </div>
  </div>
</section>

<section class="home-work">
  <div class="container">
    <h2>Case Studies</h2>

    <ul class="case-card-grid">
      {% for case in collections.caseStudies %}
        <li>
          <a href="{{ case.url }}" class="case-card-link">
            {% include "patterns/card/case-study-card.njk" %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="key-strengths-section">
    <h2>Key Strengths</h2>
    <p>I’m a UX Architect with 5 years of experience working on complex, multi-team products. I care about clarity, scalability, and building systems that make good design the default—not the exception.</p>
    <div class="key-strengths">
        <div class="strength">
            <i></i>
            <h3>Architecture and Systems Thinking</h3>
            <p>I think in systems—how experiences scale, evolve, and stay coherent.</p>
            <ul class="fa-ul">
                <li> 
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Information Architecture
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Interaction Models
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Design Systems and Governance
                </li>
            </ul>
        </div>
        <div class="strength">
            <i></i>
            <h3>Design + Engineering</h3>
            <p>I design with the realities of front-end engineering in mind.</p>
            <ul class="fa-ul">
                <li> 
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    HTML/ CSS/ JS
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Component-Driven Development
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Accessibility and Performance
                </li>
            </ul>
        </div>
        <div class="strength">
            <i></i>
            <h3>Collaboration</h3>
            <p>I partner with engineering to ensure designs survive contact with reality.</p>
            <ul class="fa-ul">
                <li> 
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Facilitate Cross-functional Workshops
                </li>
                <li>
                    <span class="fa-li"><i class="fa-solid fa-check-square"></i></span>
                    Design - Engineering Alignment
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-center">
        <button class="btn">How I work</button>
    </div>
</section>
<section class="references-section">
    <div class="references-container grid grid-2">
        <div class="reference-card">
            <blockquote>"Reference Quote"</blockquote>
            <p>- Quotee </p>
        </div>
        <div class="reference-card">
            <blockquote>"Reference Quote"</blockquote>
            <p>- Quotee </p>
        </div>
        <div class="reference-card">
            <blockquote>"Reference Quote"</blockquote>
            <p>- Quotee </p>
        </div>
        <div class="reference-card">
            <blockquote>"Reference Quote"</blockquote>
            <p>- Quotee </p>
        </div>
    </div>
    <div class="flex-center">
        <button class="btn">Connect on LinkedIn</button>
    </div>
</section>
{% endblock %}
