.case-study{
   // background-color: #E0E2DB;
}
.phase{
    font-size: 1.5rem;
    color: #007bff;
}
.overview-section{
    .title{
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    i{
        font-size: 1.5rem;
        color: #007bff;
        margin-bottom: 1rem;;
    }
}

.problem-section{
    border: #c42847 3px solid;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 0.2fr 3fr;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);


    h2{
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .fa-exclamation{
        color:#c42847;
        border: #c42847 3px solid;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 1rem;
        padding-right: 1.3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(196, 40, 71, 0.2);
    }

    p{
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .italic{
        font-weight: 200;
    }

    .box{
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 1rem;
        padding: 2rem;
    }
}

.research-section{
    margin-top: 3rem;

    .methods{
        margin-top: 2rem;
    }

    .method-icon{
        width: 2rem;
        height: auto;
        box-shadow: none;
        background-color:#007bff;
    }
}