.overview-section{
    .title{
        margin-bottom: 3rem;
        margin-top: 3rem;
        span{
            font-size: 1.5rem;
            color: #007bff;
        }
    }
    i{
        font-size: 1.5rem;
        color: #007bff;
        margin-bottom: 1rem;;
    }
}