.home .hero{
    background-color: lightgray;
}
.home{
    .home-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.home-profile-img img{
    border-radius: 50%;
    width: 300px;
    margin-right: 30%;
    margin-left: auto;
    display: block;
}
.key-strengths{
    margin-top: var(--space-md);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 0;

    .strength{
        p{
            margin-top: var(--space-sm);
        }
        ul{
            margin-top: var(--space-sm);
        }
    }
}
.reference-card{
    background-color: lightgray;
    padding: var(--space-md);
    border-radius: 20px;
}