.block-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    li{
        list-style-type: none;
    }
    
}
.block{
    width: 800px;
    overflow: hidden;
    margin: 20px;
}
.block-image{
    background-image: url(https://placehold.co/400);
    height: 400px;
}
.block-content{
    padding: 1rem;
    background-color: #f4f4f4;

    p{
        padding-top: 1rem;
    }
}