---
title: Case Studies
layout: layouts/base.njk
permalink: /case-studies/
nav: true
navOrder: 4
---
<h1>Case Studies</h1>

<section class="home-work">
  <div class="container">
    <h2>Case Studies</h2>

    <ul class="case-card-grid">
      {% for case in collections.caseStudies %}
        <li>
          <a href="{{ case.url }}" class="case-card-link">
            {% include "patterns/card/case-study-card.njk" %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>