<section class="hero hero--{{ hero.variant | default("default") }}">  
  {% if heroImage %}
    <div class="hero-media">
      <img
        src="{{ projectImage}}"
        alt="{{ hero.image.alt | default('') }}"
        loading="eager"
      >
    </div>
  {% endif %}
</section>
