<div class="design-process-section">
    <span class="phase">Ideate</span>
    <h2>Design Process</h2>
    <p>{{ design-process-statement }}</p>
    <div class="grid-col-4">
        <div class="ideation">
            <i class="fa-solid fa-lightbulb"></i>
            <h4>Ideation</h4>
            <p>{{ ideation-description }}</p>
        </div>
        <div class="wireframing">
            <i class="fa-solid fa-pencil"></i>
            <h4>Wireframing</h4>
            <p>{{ wireframing-description }}</p>
        </div>
        <div class="prototyping">
            <i class="fa-brands fa-figma"></i>
            <h4>Prototyping</h4>
            <p>{{ prototyping-description }}</p>
        </div>
        <div class="visual-design">
            <i class="fa-brands fa-css"></i>
            <h4>Visual Design</h4>
            <p>{{ visual-design-description }}</p>
        </div>
    </div>
</div>