<div class="final-design-section">
    <span class="phase">Deliver</span>
    <h2>Final Design</h2>
    <p>{{ final-design-description }}</p>
    <img src="{{ final-design }}" alt="Final Design">
    <div class="grid-col-3">
        <div class="metric">
            <h4>{{ metric-1 }}</h4>
            <p>{{ metric-1-value }}</p>
        </div>
        <div class="metric">
            <h4>{{ metric-2 }}</h4>
            <p>{{ metric-2-value }}</p>
        </div>
        <div class="metric">
            <h4>{{ metric-3 }}</h4>
            <p>{{ metric-3-value }}</p>
        </div>
    </div>
</div>