<div class="impact-section">
    <div class="impact-results">
        <h3>Impact & Results</h3>
        <p>{{ impact-statement }}</p>
        <div class="grid-col-4">
            {%- for item in key-impacts %}
                <div class="impact">
                    <img src="{{ item.impact-icon }}" alt="{{ item.impact-title }}">
                    <p>{{ item.impact-value }}</p>
                    <h4>{{ item.impact-title }}</h4>
                    <p>{{ item.impact-description }}</p>
                </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="user-feedback">
        <h3>User Feedback</h3>
        <div class="grid-col-2">
            {% for item in user-feedback %}
                <div class="feedback">
                    <p>{{ item.text }}</p>
                    <h4>{{ item.author }}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
</div>