<div class="impact-section">
    <div class="impact-results">
        <span class="phase">Impact</span>
        <h2>Impact & Results</h2>
        <p>{{ impact-statement }}</p>
        <div class="grid-col-4">
            {%- for item in key-impacts %}
               {%- if item.impact-type == "task completion" %}
                    {% include "patterns/impacts/task-completion.html" %}
                {%- endif -%}
                {%- if item.impact-type == "task time" %}
                    {% include "patterns/impacts/task-time.html" %}
                {%- endif -%}
                {%- if item.impact-type == "user satisfaction" %}
                    {% include "patterns/impacts/user-satisfaction.html" %}
                {%- endif -%}
                {%- if item.impact-type == "user rating" %}
                    {% include "patterns/impacts/user-rating.html" %}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
    <div class="user-feedback">
        <h3>User Feedback</h3>
        <div class="grid-col-2">
            {%- for item in user-feedback %}
                <div class="feedback">
                    <p>"{{ item.text }}"</p>
                    <h4>- {{ item.author }}</h4>
                </div>
            {% endfor -%}
        </div>
    </div>
</div>