<div class="overview-section">
    <div class="project-image">
        <img src="{{ project-img }}" alt="Project Image">
    </div>
    <div class="title">
        <span>{{ overview.phase }}</span>
        <h1>{{ title }}</h1>
    </div>
    <div class="grid-col-4">
        <div class="role">
            <i class="fa-solid fa-id-card-clip"></i>
            <p class="tag">Role</p>
            <span class="name">{{ overview.role }}</span>
        </div>
        <div class="timeline">
            <i class="fa-solid fa-clock"></i>
            <p class="tag">Timeline</p>
            <span class="name">{{ overview.timeline }}</span>
        </div>
        <div class="tools">
            <i class="fa-solid fa-toolbox"></i>
            <p class="tag">Tools</p>
            <span class="name">{{ overview.tools }}</span>
        </div>
        <div class="team">
            <i class="fa-solid fa-people-group"></i>
            <p class="tag">Team</p>
            <span class="name">{{ overview.team }}</span>
        </div>
    </div>
    <div class="grid-col-2">
        <div class="overview">
            <h3>Overview</h3>
            <p>{{ overview.desc }}</p>
        </div>
        <div class="project_goals">
            <h3>Project Goals</h3>
            <ul>
                {% for goal in project_goals %}
                    <li>{{ goal.goal }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>