<div class="wireframing-section">
    <span class="phase">Prototype</span>
    <h2>Sketches & Wireframes</h2>
    <h3>NRT Factsheet Wireframes</h3>
    <div class="factsheet-wires grid-col-3">
        <div class="grid-col-2">
            <img src="/./assets/images/smokefree/nrt-single.png" alt="wireframe-screenshot">
            <img src="/./assets/images/smokefree/smokefree-nrt-wireframe.png" alt="wireframe-screenshot">
        </div>
        <div class="grid-col-2">
            <img src="/./assets/images/smokefree/nrt-combo.png" alt="wireframe-screenshot">
            <img src="/./assets/images/smokefree/smokefree-nrt-wireframe.png" alt="wireframe-screenshot">
        </div>
        <div class="grid-col-2">
            <img src="/./assets/images/smokefree/nrt-triple-1.png" alt="wireframe-screenshot">
            <img src="/./assets/images/smokefree/smokefree-nrt-wireframe.png" alt="wireframe-screenshot">
            <img src="/./assets/images/smokefree/nrt-triple-2.png" alt="wireframe-screenshot">
        </div>
    </div>
    <p>{{ factsheet-wireframes-description }}</p>
    <div class="key-changes">
        <h4>Key Changes</h4>
        <ul>
            {% for item in key-changes %}
                <li>{{ item.change }}</li>
            {% endfor %}
        </ul>
    </div>
    <h3>QuitVet NRT Landing Page Wireframes</h3>
    <div class="landing-wires grid-col-2">
        <img src="/./assets/images/smokefree/landing-wire-1.png" alt="wireframe-screenshot">
        <img src="/./assets/images/smokefree/landing-wire-2.png" alt="wireframe-screenshot">
    </div>
    <p>{{ landing-wires-description }}</p>
    <div class="grid-col-2">
        <div class="key-changes">
            <h4>Key Changes</h4>
            <ul>
                {% for item in key-changes %}
                    <li>{{ item.change }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="design-decisions">
            <h4>Design Decisions</h4>
            <ul>
                {% for item in design-decisions %}
                    <li>{{ item.decision }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>