<div class="user-insights-section">
    <h2>User Personas</h2>
    <p>{{ user-insights }}</p>
    <div class="grid-col-2">
    {%- for item in personas %}
        <div class="persona">
            <img src="{{ item.avatar }}" alt="{{ item.name }}-avatar">
            <h4>{{ item.name }}</h4>
            <p>{{ item.role }} • {{ item.age }}</p>
            <ul class="user-goals">
                {% for subitem in item.goals %}
                    <li>{{ subitem.goal }}</li>
                {% endfor %}
            </ul>
            <ul class="user-frustrations">
                {% for frustration in user.frustrations %}
                    <li>{{ frustration }}</li>
                {% endfor %}
            </ul>
        </div>
    {%- endfor -%}
    </div>
    {% if journey-map %}
        <div class="journey-map">
            <h4>Journey Map</h4>
            <img src="{{ journey-map-img }}" alt="Journey Map">
            <p>{{ journey-map-description }}</p>
        </div>
    {% endif %}
</div>